.graphic {
	border: 1px solid #dcdcdc;

	height: 200px;
	width: 550px;
}

.graphic-canvas {
	height: 100%;
	width: 80%;

	float: left;
}

.graphic-controls {
	height: 100%;
	width: 19%;

	float: right;
	border-left: 1px solid #dcdcdc;
}

.act-sensors-view .icon {
    font-size: 1.3em;
    position: relative;
    top: 3px;
}

.act-sensors-view:hover,
.act-sensors-view:focus {
	text-decoration: none;
}

svg .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#templates {
	display: none;
}

.stream-selector {
	display: block;
	list-style: none;

	width: 100%;

	margin: 0;
    padding: 2px 5px;

	font-size: 0.9em
}

.stream-selector li {
	display: block;
	width: 100%;

	border-bottom: 1px solid #dbdbdb;

	overflow: hidden;
    text-overflow: ellipsis;

	cursor: pointer;
}

.stream-selector li:hover {
	color: #ffc107;
	border-bottom: 1px solid #ffc107;
}

.stream-selector li.active-selector {
	color: #ffc107;
	border-bottom: 1px solid #ffc107;
}
