@layout("Добавление пользователя") {
<h2 class="content-sub-heading">Добавление пользователя</h2>
    @helper.form(routes.Users.addHandler){
    <!-- Логин -->
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <label class="form-label" for="input-text">Логин</label>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <input class="form-control" id="input-text" type="text" name="login">
            </div>
        </div>
    </div>

    <!-- Пароль -->
    <div class="form-group">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-4">
                <label class="form-label" for="input-password">Пароль</label>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-8">
                <input class="form-control" id="input-password" type="password" name="password">
            </div>
        </div>
    </div>

    <!-- Группа @@todo -->

    <div class="form-group-btn">
        <button class="btn btn-brand-accent waves-attach waves-button waves-light waves-effect" type="submit">Добавить</button>
    </div>
    }
}