@(list : List[domain.User])

@layout("Пользователи") {
<div class="col-lg-8 col-md-10">
    <section class="content-inner">
        <div class="row">
            <a href="@routes.Users.addForm()" class="btn pull-right waves-effect">Добавить пользователя</a>
        </div>
        <div class="table-responsive">
            <table class="table" id="patients-list">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Логин</th>
                        <th>Группа</th>
                        <th>Последний доступ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(user <- list){
                    <tr>
                        <td>@user.getId()</td>
                        <td>@user.getLogin()</td>
                        <td>@user.getGroup()</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
</div>
}