@(servers : Map[String, domain.remote.RemoteServer])

@layout("Устройства") {
    @tabs("devices")

    <div class="table-responsive">
        <table class="table" title="Агрегирующие серверы">
            <thead>
            <tr>
                <th>SID</th>
                <th>Адрес</th>
                <th>Подключен</th>
                <th>Сенсоры</th>
            </tr>
            </thead>
            <tbody>
            @for(pair : Map.Entry[String, domain.remote.RemoteServer] <- servers.entrySet()) {
                <tr data-sid="@pair.getKey()">
                    <td>@pair.getKey()</td>
                    <td>@pair.getValue().address()</td>
                    <td>@pair.getValue().created()</td>
                    <td>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}