@(tab : String)

<div class="row">
    <div class="col-lg-4">
        <nav class="tab-nav tab-nav-amber">
            <ul class="nav nav-justified">
                <li class="@if(tab == "monitor"){ active }">
                    <a class="waves-attach waves-effect" href="@routes.Monitor.index()">Мониторинг</a>
                </li>
                <li class="@if(tab == "devices"){ active }">
                    <a class="waves-attach waves-effect" href="@routes.Monitor.devices()">Устройства</a>
                </li>
            </ul>
            <div class="tab-nav-indicator"></div>
        </nav>
    </div>
</div>