@import markup.BreadCrumbs;
@import markup.BreadCrumbs.Pair;

@itemClass(pair : Pair) = @{
    if (!pair.getValue()) {
        "active"
    }
}

@if(BreadCrumbs.getInstance().get().length > 0){
    <ul class="breadcrumb">
        @for(pair <- BreadCrumbs.getInstance().get()) {
            <li class="@itemClass(pair.asInstanceOf[Pair])">
                <a href="@pair.asInstanceOf[Pair].getValue()">@pair.asInstanceOf[Pair].getKey()</a>
            </li>
        }
    </ul>
}