<nav aria-hidden="true" class="menu" id="menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <ul class="nav">
                <li>
                    <a class="waves-attach" href="@routes.Patients.index()">Пацинеты</a>
                </li>
                <li>
                    <a class="waves-attach" href="@routes.Monitor.index()">Мониторинг</a>
                </li>
            </ul>
            <hr>
            <ul class="nav">
                <li>
                    <a class="waves-attach" href="@routes.Users.index()">Пользователи</a>
                </li>
                <li>
                    <a class="waves-attach" href="#">Безопасность</a>
                </li>
                <li>
                    <a class="waves-attach" href="#">Настройки</a>
                </li>
            </ul>
            <hr>
        </div>
    </div>
</nav>